<footer>
    <ul>
        <li class="footer">Copyright &copy; Harden Lineberry</li>
        <li class="footer"><a href='../about'>About</a></li>
        <li class="footer"><a href='../contact'>Contact</a></li>
    </ul>
</footer>

</body>
</html>