<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Music Club</title>
</head>
<body>
    <header>
        <ul>
            <a href="/"><img id="logo" src="/images/logo.png" alt="Music Club"></a>
            <li class="header">Login</li>
            <li class="header">Signup</li>
            <li class="header"><a href="/connections/new">Start a New Connection</a></li>
        </ul>
    </header>
    <nav>
        <p><a href="/connections">Connections</a></p>
    </nav>