<%- include('./partials/header.ejs')%>
    <div class = "content">
        <main>
            <h3>About the Music Club</h3> 
            <p>This website was created as a platform for club members to create events and connect with others. 
                This includes album listening sessions and sharing music you have made.</p>
            <p>Please click connections on the top to browse available events.</p>
        </main>
    </div>
    <%- include('./partials/footer.ejs')%>