<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Music Club Connection</title>
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>

<body>
    <header>

        <ul>
            <a href="index.html"><img id="logo" src="logo.png" alt="Music Club"></a>
            <li class="header">Login</li>
            <li class="header">Signup</li>
            <li class="header"><a href="newConnection.html">Start a New Connection</a></li>
        </ul>
    </header>
    
    <nav>
        <p><a href="connections.html">Connections</a></p>
    </nav>
    <main>
        <h1>Album Listening Sessions</h1>
        <h4>Listen to albums by these artists for the first time in a group of music fans.</h4>
        <a href="connection.html"><p>Arctic Monkeys</p></a>
        <a href="connection.html"><p>Carly Rae Jepsen</p></a>
        <a href="connection.html"> <p>Charli XCX</p></a>
        <h1>Share Music</h1>
        <h4>Share music you have made and listen to other members' music.</h4>
        <a href="connection.html"><p>Electronic</p></a>
        <a href="connection.html"> <p>Hip-Hop</p></a>
        <a href="connection.html"> <p>Pop</p></a>
    </main>

    <footer>
        <ul>
            <li class="footer">Created by Harden Lineberry</li>
            <li class="footer">Contact</li>
        </ul>
    </footer>

</body>
</html>