<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Music Club Homepage</title>
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>

<body>
    <header>

        <ul>
            <a href="index.html"><img id="logo" src="logo.png" alt="Music Club"></a>
            <li class="header">Login</li>
            <li class="header">Signup</li>
            <li class="header"><a href="newConnection.html">Start a New Connection</a></li>
        </ul>
    </header>
    
    <nav>
        <p><a href="connections.html">Connections</a></p>
    </nav>
    <main>
        <h1>Welcome to the Music Club</h1>
        <p>This website was created for club members to create events and connect with others. 
            This includes album listening sessions and sharing music you have made.</p>
        <p>Please click connections on the top to browse available events.</p>
    </main>

    <footer>
        <ul>
            <li class="footer">Created by Harden Lineberry</li>
            <li class="footer">Contact</li>
        </ul>
    </footer>

</body>
</html>