<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Music Club Connection</title>
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>

<body>
    <header>

        <ul>
            <a href="index.html"><img id="logo" src="logo.png" alt="Music Club"></a>
            <li class="header">Login</li>
            <li class="header">Signup</li>
            <li class="header"><a href="newConnection.html">Start a New Connection</a></li>
        </ul>
    </header>
    
    <nav>
        <p><a href="connections.html">Connections</a></p>
    </nav>
    <main>
        <form>
            <label for="topic">Topic</label>
            <input type="text" class="textform" name="topic" id="topic">
            <label for="title">Title</label>
            <input type="text" class="textform" name="title" id="title">
            <label for="host">Host</label>
            <input type="text" class="textform" name="host" id="host"> 
            <label for="details">Details</label>
            <textarea id="details" name="details"> </textarea>
            <label for="location">Location</label>
            <input type="text" class="textform" name="location" id="location">
            <label for="date">Date</label>
            <input type="date" class="textform" name="date" id="date">
            <label for="start">Start Time</label>
            <input type="time" class="textform" name="start" id="start">
            <label for="end">End Time</label>
            <input type="time" class="textform" name="end" id="end">
            <label for="image">Image</label>
            <input type="file" accept="image/png, image/jpeg" class="textform" name="image" id="image">  
        </form>
        <form action="connections.html">
            <input type="submit" value="Create Connection" id="create"/>
        </form>
    </main>

    <footer>
        <ul>
            <li class="footer">Created by Harden Lineberry</li>
            <li class="footer">Contact</li>
        </ul>
    </footer>

</body>
</html>